@charset "utf-8";
/* CSS Document */

*{
	margin: 0;

}

body{
    font-family: didact-gothic;
    font-style: normal;
    font-weight: 400;
	color: #414243;
	background-color: #fff;
	
}
.clearfix {
  overflow: auto;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.page-wrapper-one{
	margin-top: 2em;
	margin-right: 2.5em;
	margin-left: 2.5em;
	
}

.page-wrapper-two{
	max-width: 1350px;
	margin-left: auto;
	margin-right: auto;
	
}




.banner-despre{ 
	width: 96%;
	height: 350px;
	background-image: url("imagini/despre.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 10px;
	padding-left: 20px;
	margin-right: auto;
}


.banner-despre h1{
    /*color: #22b3aa;*/	
    font-style: normal;
    font-weight: 400;
    text-align: center;
    font-size: 4em;
    color: #fff;
    padding-top: 30px;
    font-family: boogaloo;   
}


#logo{
	display: flex;
	padding-top: 15px;
	padding-left: 20px;

	}

nav ul{
	display: block;
	
}
nav ul li{
	flex: 1px;
	margin: 1px;
	
	
}


.nav-bar ul{
	display: block;
    text-align: center;
    text-decoration: none;
    list-style-type: none;
    padding-left: 0;

}
nav a{
    color: #098E8E;
    text-decoration: none;
    background-color: #C6EDEB;
    display: block;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 2px;
	font-family: "didact-gothic";
	font-style: normal;
	font-weight: 400;
	cursor: pointer;
	font-size: 2em;
	
}
nav a:hover{
	background-color: #EFEFEF;
	color:#fff;
}


.container-despre{
	display: block;

}



.img-despre{
	width: 100%;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;

}	

.text-despre {
font-family: "didact-gothic";
text-align: left;
color: #22B3AA;
font-weight: bold;
font-size: 1.2em;
padding-top: 30px;
padding-left: 70px;
 

}
h4{
	font-size: 3em;
}

.footer{
	width: 98%;
	background-color: #c6edeb;
    padding-top: 10px;
	color: #098e8e;
	font-family: "didact-gothic";
	font-style: bold;
	font-weight:500;  
	text-align: center;
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	
}

.footer-obligatorii{
	display: block;
    width: 48%;
	margin-right: 1%;
	margin-left: 1%;	
	float: left;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}


.footer-socializare{
	display: block;
    width: 48%;
	margin-right: 1%;
	margin-left: 1%;
	text-align: center;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}

.footer-wrapper{
	display: flex;
}




@media screen and (min-width:768px){ 
	/*Acesta este pentru tableta*/
	
	nav a{
		width: 19.5%;
		float: left;
		margin: 0.5px;
	}
	
	.img-despre{
		display: flex;
	}
	
	.text-despre{
		float: left;
		width: 70%;
		margin-left: 1%;
		margin-right: 1%;

	}                      





}




@media screen and (min-width:960px){
	/*Aceasta este varianta Desktop*/
	

}
	      
	


