*{
	margin: 0;

}

body{
    font-family: didact-gothic;
    font-style: normal;
    font-weight: 400;
	color: #414243;
	background-color: #fff;
    font-size: 16px;
	
}

::-webkit-scrollbar {
    width: .5em;
  }
  
  /* Track */
  /* ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #098e8e;
    border-radius: .2em;
  } */
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #12a3a3;
    border-radius: .5em;
  }

/* header */
header{
    position: relative;
    width: 100%;
    z-index: 20;
    background: #c6edeb;
    
}
.navbar-collapse{
    justify-content: flex-end;

}

.navbar-expand-lg .navbar-nav .nav-link.contact{
    padding-right: 0;
}

.navbar-expand-lg.navbar{
    padding: 1em 15px;
}

.navbar-expand-lg .navbar-nav .nav-link{
    color: #414243;
    text-decoration: none;
    font-size:1.4em;
    position: relative;
    z-index:1;
}

.navbar-expand-lg .navbar-nav .nav-link::before{
    position: absolute;
    top: 100%;
    left:0.4em;
    height: 2px;
    background-color: #414243;
    content:'';
    width: 0;
    margin-top: -0.5em;
    transition: all .5s;

}

.navbar-expand-lg .navbar-nav .nav-link:hover::before,
.navbar-expand-lg .navbar-nav .nav-link.active::before{
    width: 1em

}
.navbar-toggler{
    border: none;
    padding: 0;
}
.navbar-toggler:focus{
    box-shadow: none;
    border: none;
}

.navbar-toggler-icon i{
    font-size: 1.4em;
}

.header-meniu{
    text-align: right;
}

.close-navbar-wrapper{
    display: flex;
    justify-content: flex-end;
    background:rgb(18, 163, 163)
}

.close-navbar{
    width: 2em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}



.close-navbar i{
    font-size:1.5em;
    cursor: pointer;
    display: block;
    cursor: pointer;
}

.close-navbar-wrapper{
    display: none;
}


.sticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 30;
    animation-name: sticky-animation;
    animation-duration: 1s;
}

@keyframes sticky-animation{
    0%{
        transform: translateY(-100%)
    }
    100%{
        transform: translateY(0);
    }
}

header .navbar-brand img{
    width: 100px;
}

header.sticky .navbar-brand img{
    width: 60px;
}

header.sticky .navbar-expand-lg.navbar{
    padding: .5em 0;
}


/* slider home */
.slider-home-img{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1
}

.slider-home-img::before{
    display: block;
    content: '';
    padding-bottom: 36%;
}

.slider1{
    background-image: url('imagini/banner.jpg');
}

.slider2{
    background-image: url('imagini/despre.jpg');
}

.slider3{
    background-image: url('imagini/gallery.png');
}

.slider4{
    background-image: url('imagini/servicii.jpg');
}

.overlay-slider-home{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    content: '';
    background: rgba(0,0,0,.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.overlay-slider-home-subtitlu{
    font-size: 1.2em;
}

.overlay-titlu-link{
    font-size: 1.8em;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    display: block;
    transition: all .5s;
}

.overlay-titlu-link:hover{
    color: #fff;
    letter-spacing: .1em;
}

.overlay-slider-home-text{
    font-size: 1.4em;
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

#slider-home.owl-carousel{
    position: relative;
    z-index: 1;
} 

#slider-home .owl-nav{
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
}

.owl-dots{
    display: none;
    
}

#slider-home  .owl-prev,
#slider-home  .owl-next{
    width: 3rem;
    height: 3rem;
    background: #fff;
    font-size: 1.8em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all .5s;

}

#slider-home  .owl-prev:hover,
#slider-home  .owl-next:hover{
    background: #c6edeb;
    color:#414243;
}

#slider-home  .owl-prev span,
#slider-home  .owl-next span{
    display: flex;
    align-self: stretch;
    width: 100%;
    justify-content: center;

}



/* modul servicii */
#m-servicii{
    padding: 50px 0;
}

.m-servicii-item-img-wrapper{
    overflow: hidden;
    position: relative;
    z-index: 1;
    border-radius: 50%;
    border: 5px solid #c6edeb;

}

.m-servicii-img-link{
    display: block;
    border-radius: 50%;
    position: relative;
    z-index: 1;
}


.m-servicii-item{
    border: none;
    border-bottom: 1px solid rgba(18, 163, 163,.2);
    height: 100%;
    position: relative;
    z-index: 1;

}

.m-servicii-item .m-servicii-item-img{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    transition: all .5s;
}

.m-servicii-item:hover .m-servicii-item-img{
    transform: scale(1.2) rotate(5deg)
}

.reflexoterapie{
    background-image: url('imagini/pic1.jpg')
}
.drenaj{
    background-image: url('imagini/pic2.jpg')
}
.masaj{
    background-image: url('imagini/pic3.jpg')
}
.terapia-bowen{
    background-image: url('imagini/pic4.jpg')
}

.m-servicii-item-img::before{
    display: block;
    padding-bottom: 100%;
    content: '';
    overflow: hidden;
    border-radius: 50%
}

.m-title{
    font-size: 2.4em;
    margin-bottom: 2em;
    font-weight: 600;
}

.m-subtitle{
    font-size: 1.8em;
    margin-top: 1.5em;
    font-weight: 600;
}

.m-subtitle-link{
    text-decoration: none;
    color: #12a3a3;
    transition: all .5s;
}

.m-subtitle-link:hover{
    color:#098e8e
}

.m-servicii-item-text{
    font-size: 1.2em;
    padding-bottom:10px;
    position: relative;
    z-index: 1
}

.m-servicii-item::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    right: 50%;
    height: 1px;
    background: rgb(18,163,163);
    transition: all .5s;
}

.m-servicii-item:hover::before{
    left: 0;
    right: 0;
}

/* modul bowen */
#m-bowen{
    padding-bottom:50px;
}

.m-bowen-item{
    height: 100%;

}

.m-bowen-item .m-bowen-item-img-wrapper{
    overflow: hidden;
}

.m-bowen-item .m-bowen-item-img{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
    z-index: 1;
    transition: all .5s;
}

.m-bowen-item .m-bowen-item-img::before{
    display: block;
    content: '';
    z-index: 2;
    padding-bottom: 50%;
}

.m-bowen-item:hover .m-bowen-item-img{
    transform: scale(1.2) rotate(5deg)
}

.m-bowen-item-text{
    font-size: 1.2em;
}

.utilitate{
    background-image: url('imagini/blog2.jpg')
}

.efecte{
    background-image: url('imagini/blog3.jpg')
}

/* footer */
footer{
    padding: 30px 0;
    background-color: #c6edeb;
}

.row.footer-rand{
    align-items: center;
}

.footer-contact-list,
.utile-list{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.footer-utile-item{
    line-height: 1.6;
}

.footer-utile-link{
    text-decoration: none;
    transition: all.5s;
    position: relative;
    z-index: 1;
    color: #414243;
    font-weight: 500;
    font-size: 1.2em;
}

.footer-utile-link:hover{
    letter-spacing: 0.5px;
    color: #414243;

}

.footer-contact-item{
    font-size: 1.2em;
}

.footer-contact-link{
    text-decoration: none;
    color: #098e8e;
    transition: all .5s;
}

.footer-contact-link:hover{
    text-decoration: none;
    color: #098e8e;
}

.contact-item-text{
    font-weight: 500;
}

.contact-item-fb a img{
    transition: all .5s
}


.contact-item-fb a img:hover{
    filter: grayscale(100%)
}

/* page-img-wrapper */
.page-img-wrapper{
    position: relative;
    z-index: 1;
}

.page-img{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}

.page-img::before{
    padding-bottom: 25%;
    content: '';
    display: block
}

.despre{
    background-image: url('./imagini/despre_b.jpg');
}

.servicii{
    background-image: url('./imagini/servicii_b.jpg');
}

.contact{
    background-image: url('./imagini/contact_b.jpg');
}

.politica-confidentialitate{
    background-image: url('./imagini/banner.jpg');

}



.overlay-page-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgba(0,0,0, .2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay-page-img-titlu{
    font-size: 2.5em;
    color: #fff;
    font-weight: 600;
}
/* pagini footer css */
#politica-wrapper{
    padding: 50px 0;
}

.page-titlu{
    font-size: 2.4em;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.5em;
}

.page-subtitlu{
    font-size: 1.8em;
    font-weight: 600;
    color: #098e8e;
    text-transform: uppercase;
    
}

.page-paragraph{
    font-size: 1.2em;
    color: #414243;
    margin-bottom: 1em;
}

.page-paragraph.atentionare{
    font-weight: 600;
}

.page-list li,
ol li{
    font-size: 1.2em
}



